:root {
  --primitives-spacings-spacing-xs: 8px;
  --primitives-spacings-spacing-s: 16px;
  --primitives-spacings-spacing-m: 32px;
  --primitives-spacings-spacing-ml: 48px;
  --primitives-spacings-spacing-l: 64px;
  --primitives-spacings-spacing-xl: 80px;
  --primitives-spacings-spacing-xxl: 96px;
  --primitives-spacings-spacing-3xl: 220px;
  --primitives-spacings-spacing-4xl: 459px;
  --primitives-grey-100: #ffffff;
  --primitives-grey-90: #e6e6e6;
  --primitives-grey-80: #cccccc;
  --primitives-grey-70: #b3b3b3;
  --primitives-grey-60: #999999;
  --primitives-grey-50: #808080;
  --primitives-grey-40: #666666;
  --primitives-grey-30: #4d4d4d;
  --primitives-grey-10: #1a1a1a;
  --primitives-grey-5: #0d0d0d;
  --primitives-grey-0: #000000;
  --semantics-texts-body: var(--primitives-grey-100);
  --semantics-cards-main: var(--primitives-grey-5);
  --semantics-cards-border-radius: 48px;
  --semantics-images-product: var(--primitives-grey-30);
  --semantics-buttons-primary-active: var(--primitives-grey-10);
  --semantics-buttons-primary-inactive: var(--primitives-grey-30);
  --semantics-padding-card-global-vertical-padding: var(
    --primitives-spacings-spacing-m
  );
  --semantics-padding-card-global-horizontal-padding: var(
    --primitives-spacings-spacing-ml
  );
  --semantics-padding-card-global-image-button-gap: var(
    --primitives-spacings-spacing-ml
  );
  --semantics-padding-thanks-card-global-vertical-padding: var(
    --primitives-spacings-spacing-3xl
  );
  --semantics-padding-thanks-card-global-horizontal-padding: var(
    --primitives-spacings-spacing-4xl
  );
  --semantics-cartpage-global-padding-bottom: var(
    --primitives-spacings-spacing-xxl
  );
  --semantics-cartpage-global-card-topbar-gap: var(
    --primitives-spacings-spacing-xxl
  );
  --semantics-cartpage-global-horizontal-padding: var(
    --primitives-spacings-spacing-xxl
  );
  --semantics-productlist-page-global-horizontal-padding: var(
    --primitives-spacings-spacing-xl
  );
  --semantics-productlist-page-global-padding-bottom: var(
    --primitives-spacings-spacing-3xl
  );
  --semantics-productlist-page-global-padding-top: var(
    --primitives-spacings-spacing-ml
  );
  --semantics-productlist-page-global-topbar-grid-gap: var(
    --primitives-spacings-spacing-xxl
  );
  --semantics-padding-topbar-global-horizontal-padding: var(
    --primitives-spacings-spacing-ml
  );
  --semantics-padding-topbar-global-vertical-padding: var(
    --primitives-spacings-spacing-m
  );
  --semantics-padding-bigcard-global-vertical-padding: var(
    --primitives-spacings-spacing-xl
  );
  --semantics-padding-bigcard-global-horizontal-padding: var(
    --primitives-spacings-spacing-xxl
  );
  --semantics-padding-bigcard-global-image-name-gap: var(
    --primitives-spacings-spacing-l
  );
  --semantics-padding-bigcard-global-total-price-gap: var(
    --primitives-spacings-spacing-s
  );
}

:root {
  --drop-black-shadow: 0 -1px 1px 0 rgba(255, 255, 255, 0.25);
}

body {
  font-family: "SF Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0;
}

body {
  background-color: var(--primitives-grey-0);
  color: var(--semantics-texts-body);
}

.main-page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 48px 146px var(--Semantics-Cartpage-global-Padding-bottom, 96px)
    146px;
  flex-direction: column;
  align-items: center;
  gap: var(--Semantics-Cartpage-global-Card-Topbar-gap, 96px);
  background: var(--Primitives-Grey-0, #000);
  box-sizing: border-box;
}

.header {
  display: flex;
  max-width: 682px;
  min-width: 200px;
  width: 100%;
  padding: var(--semantics-Padding-Topbar-global-Vertical-padding, 32px)
    var(--semantics-Padding-Topbar-global-Horizontal-padding, 48px);
  justify-content: space-between;
  align-items: center;
  border-radius: 59px;
  background: var(--Primitives-Grey-5, #0d0d0d);

  box-shadow: var(--drop-black-shadow);
}
.home-link {
  cursor: pointer;
}

.big-card {
  display: flex;
  height: 500px;
  padding: var(--Semantics-Padding-Bigcard-global-Vertical-padding, 80px)
    var(--Primitives-Spacings-spacing-xxl, 96px);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  border-radius: var(--Semantics-Cards-Border-Radius, 48px);
  background: var(--Semantics-Cards-Main, #0d0d0d);
  box-shadow: var(--drop-black-shadow);
}

.product-image {
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background-color: var(--semantics-images-product, #4d4d4d);
  filter: drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.4));
  flex-shrink: 0;
}

.product-line {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: var(--semantics-padding-bigcard-global-image-name-gap, 64px);
}
.product-name {
  display: inline-block;
  width: 100%;
}
.total {
  display: flex;
  width: 52px;
  flex-direction: column;
  align-items: center;
  gap: var(--Semantics-Padding-Bigcard-global-Total-Price-gap, 16px);
}

.pay-button {
  border-radius: 30px;
  border: none;
  background: var(--semantics-Buttons-Primary-active, #1a1a1a);
  box-shadow: var(--drop-black-shadow);
  font: var(--semantics-texts-body);
  display: flex;
  padding: 20px 80px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--primitives-grey-100, #ffffff);
  transition: box-shadow 0.3s;
  cursor: pointer;
  white-space: nowrap;
}
.pay-button:hover {
  box-shadow: 0 0px 1px 2px rgba(255, 255, 255, 0.4);
}
.pay-button:active {
  box-shadow: 0 0px 0px 0px rgba(255, 255, 255, 0.6);
  transition: box-shadow;
}
